body {
    background-color: #006064;
}

.about-name {
    background-color: #B2EBF2;
    border-radius: 24px;
}

.about-info {
    background-color: #B2EBF2;
    border-radius: 24px;
}

.about-social {
    background-color: #B2EBF2;
    border-radius: 24px;
}

#projects-section h2 {
    color: white;
}

.slider-container {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container:not(:hover) {
    overflow: hidden;
}

.slider-container::-webkit-scrollbar {
    width: 80px;
    height: 5px;
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #B2EBF2;
    border-radius: 10px;
}

.slider-container::-webkit-scrollbar-track {
    background-color: #006064;
}

.projects-holder {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    width: 300px;
    height: 300px;
    background-color: #B2EBF2;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 0 20px;
    text-align: center;
}

#experience-section h2 {
    color: white;
}

.experience {
    background-color: #B2EBF2;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.experience img {
    width: 5rem;
    height: 5rem;
    opacity: .75;
    background-color: white;
    border-radius: 50%;
    object-fit: fill;
    display: inline-flex;
    float: left;
    margin: auto;
}

#skills-section h2 {
    color: white;
}